.menu-item {
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.1s linear;

	&:hover {
		background: #e0e0e0;
	}

	&.active {
		background: #e0e0e0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.sub-menu {
	background: #e0e0e0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
