.menu-item {
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.1s linear;

	&:hover {
		background: #f6f9fc;
	}

	&.active {
		background: #eef2ff;
	}
}

.sub-menu {
	margin-left: 30px;
}

.sub-menu .item-label {
	font-weight: 400 !important;
}
