@import url('primeflex/primeflex.css');
@import url('./themes/light.css');
@import url('primeicons/primeicons.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.p-divider-solid.p-divider-horizontal:before {
    border-top-style: solid;
}

body {
    font-family: var(--font-family);
}

.p-overlaypanel-content {
    padding: 0 !important;
}

.bg-transparent {
    background-color: transparent;
}

.bg-highlight {
    background: var(--highlight-bg);
}

.text-highlight {
    color: var(--highlight-text-color);
}

.text-error {
    color: var(--red-600);
}
